.noseids
Kivy.egg-info
*.so
*.pyc
*.pyo
*~
*.swp
*.DS_Store
*.kpf
*.dds
*.checksum
app/expos/*/data.zip
app/expos/*/data.checksum
app/expos/*/objects.json
app/museotouch.ini
cron/config.ini
tools/*.zip
build/*
doc/build
doc/sources/api-*.rst
kivy/*.c
kivy/graphics/*.c
kivy/graphics/config.h
kivy/graphics/config.pxi
kivy/tests/build
kivy/tests/results
.last_known_portable_deps_hash
deps.zip
Kivy.dmg
server/connect.php
museotouch.ini
